.State{
    border: 5px;
    border-radius: 3px;
    border-color: blueviolet;
    background: fixed;
    background: burlywood ;

}

.reduce{
    border: 5px;
    border-radius: 3px;
    border-color: blueviolet;
    background: fixed;
    background: salmon ;

}